@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
:root{
--heading-size:7rem;
--subHeading-para:2.4rem;
--para-size:1.8rem;
--blue-color:#12E2FF;
--light-blue-color:#27A2AF;
} 
body {
    background-color: #0A131D;
    overflow-x: hidden;
    font-family: 'Concert One','cursive';
  }
  /* --------------cusror css----------------------------- */
  .cursor{
    z-index: 9000;
    position: relative;
    background-color: var(--light-blue-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px var(--blue-color),
                0 0 60px var(--blue-color),
                0 0 100px var(--blue-color);
  animation: cursor-animation 5s infinite;
  transform: translate(-50%,-50%);
  display: none;
  }
  @keyframes cursor-animation {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
  .cursor::before{
    content: '';
    position: absolute;
    background-color: var(--light-blue-color);
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%,-30%);
    border-radius: 50%;
  }

/* ----------------------Nav Bar---------------------------- */
.nav{
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  color: #fff;
}
.nav h2{
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
}
.nav i{
  font-size: 2rem;
  cursor: pointer;
  text-shadow: 0 0 30px white;
}
.navbar{
  background-color: #ffffff1f;
  height: 100vh;
  width: 40%;
  position: absolute;
  top: 0;
  right: -40%;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 80px 0;
  display: none;
}
.navbar a{
  text-decoration: none;
  color: var(--blue-color);
  font-size: 2.2rem;
  text-shadow: 0 0 30px var(--blue-color);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar i{
  color: #fff;
  position: absolute;
  top: 5%;
  right: 4%;
  font-size: 1.5rem;
  cursor: pointer;
}


/* -----------Home started------------------- */
  .home{
    padding: 0.2rem 4rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .home #heading {
    position: fixed;
    width: 100%;
    /* padding: 32px; */
  }
  .home #heading h3{
    color: var(--blue-color);
    font-size: var(--para-size);
  }
  .home .Planet-section{
    width: 50%;
    position: relative;
  }
  .home .planet{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  h1 {
    color: rgb(215, 215, 215);
    font-size: var(--heading-size);
    font-weight: 100;
    animation: text 20s linear infinite ;
  }
  .home #heading{
    position: relative;
  }
  .home #heading .text-wrapper{
    position: relative;
    color: #fff;
    
  }
  .home #heading .text-wrapper .box{
    font-size: var(--para-size);
    position: absolute;
    opacity: 0;
  }
  .home #heading .text-wrapper .b1{
    animation: changeText_1 15s infinite;
  }
  .home #heading .text-wrapper .b2{
    animation: changeText_2 15s infinite;
  }
  .home #heading .text-wrapper .b3{
    animation: changeText_3 15s infinite;
  }
  .home #heading .text-wrapper .b4{
    animation: changeText_4 15s infinite;
  }
  #progress-container {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #progress {
    position: absolute;
    z-index: 10;
    font-size: 3em;
    color: white;
  }
  
  canvas {
    /* position: absolute; */
    top: 0;
    left: 0;
    /* z-index: 5;  */
    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    background-color: #000;  */
    width: 100%;
    height: 100%;
  }
  .home model-viewer{
    width: 100%;
    height: 600px;
  }
  @keyframes text {
    0%{
      text-shadow: 0 0 30px var(--blue-color);
    }
    25%{
      text-shadow: 0 0 30px #018672;
    }
    50%{
      text-shadow: 0 0 30px #E04B97;
    }
    75%{
      text-shadow: 0 0 30px #D6A24E;
    }
    100%{
      text-shadow: 0 0 30px var(--blue-color);
    }
  }
  @keyframes changeText_1 {
    0%{
      opacity: 0;
    }
    10%{
      opacity: 1;
    }
    20%{
      opacity: 0;
    }
  }
  @keyframes changeText_2 {
    20%{
      opacity: 0;
    }
    30%{
      opacity: 1;
    }
    40%{
      opacity: 0;
    }
  }
  @keyframes changeText_3 {
    40%{
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    60%{
      opacity: 0;
    }
  }
  @keyframes changeText_4 {
    60%{
      opacity: 0;
    }
    70%{
      opacity: 1;
    }
    80%{
      opacity: 0;
    }
  }


  /* -------------------About started---------------------------------- */
  .about{
    text-align: center;
    padding: 4rem 8rem 10rem;
    margin-top: 4rem;
    color: #fff;
  }
  .about h2{
    font-size: var(--subHeading-para);
    font-weight: 700;
  }
  .about p{
    font-size: var(--para-size);
    margin-top: 2rem;
    font-weight: 100;
  }
  /* ----------------------Cards Section Started---------------------------------- */
  .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 0 8rem;
    color: #fff;
  }
  .cards .card img{
    width: 100%;
    height: 340px;
    border-radius: 20px;
    border-top: 4px solid var(--blue-color);
    border-bottom: 4px solid var(--blue-color);
  }

  .cards .card .title{
    font-size: var(--subHeading-para);
    color: #12E2FF;
    margin: 14px 0;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: capitalize;
  }
  .cards .card .para{
    font-size: 1.3rem;
    font-family: sans-serif;
    letter-spacing: 1.9px;
    line-height: 29px;
  }
  .header.finisher-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1; /* Push it behind other content */
    overflow: hidden;
}

/* ------------------------------Scrolling text Section started------------- */
.horizontal-Scrolling{
  width: 100%;
  height: 100vh;
  /* white-space: nowrap; */
  position: relative;
  overflow: hidden;
}
.horizontal-Scrolling #scrollingText{
  /* display: inline-block; */
  white-space: nowrap;
  position: absolute;
  font-size: 33vw;
  color: transparent;
  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-align: center;
}

/* ------------------Planet section started------------ */
.Package{
  color: var(--blue-color);
  text-shadow: 10px 10px 0 0 var(--blue-color);
  font-size: var(--heading-size);
  font-family: sans-serif;
  padding-left: 4rem;
  text-transform: uppercase;
  font-weight: 600;
}
.planet-section{
  padding: 0 4rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  color: #fff;
}
.planet-section .card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1px;
  font-family: sans-serif;
}
.planet-section .card model-viewer{
  width: 100%;
  height: 400px;
}
.planet-section .card .title{
  color: var(--blue-color);
  font-size: var(--subHeading-para);
  font-weight: 800;
}
.planet-section .card .distance{
  font-size: 30px;
  font-weight: 800;
}
.planet-section .card .para{
  font-size: var(--para-size);
}
.svgButtonSection{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}
.svgButtonSection #offer_button{
  color: #fff;
  border: 1.80px solid var(--blue-color);
  background: linear-gradient(to right, #27A2AF,#27a1af58);
  padding: 16px 40px;
  border-radius: 30px;
  font-size: 20px;
  letter-spacing: .4px;
  transition: all .2s ease-in-out;
  
}
.svgButtonSection #offer_button:hover{
  color: #12e3ffee;
  background: transparent;
}